@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current counts: @currentCount</p>
<br />
<b>hello </b>
@myMarkup
<br />
@((MarkupString)myMarkup)


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {


    private int currentCount = 0;
    string myMarkup = "<b> test please be bold </b>";
    private void IncrementCount()
    {
        currentCount++;
    }
}
